html
  head
    title  test 
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body
    h1='Insert Student'
    form(action='/students/insert', method='POST')
      fieldset
        label(for='name') Name: 
        input#name(type='text', name='name', autofocus='')
        br
        label(for='address') Address: 
        input#address(type='text', name='address')
        br
        label(for='gender') Gender: 
        input#gender(type='radio', size='25', name='gender', value='M')
        | Male
        input#gender(type='radio', name='gender', value='F')
        | Female
        br
        label(for='date_of_birth') Date Of Birth: 
        input#date_of_birth(type='date', name='date_of_birth')
        br
        input(type='submit', value='Insert Student')